
.fade-in-1{
  display: none;
}

.slide-down-effect1{
  display: none;
}
.slide-down-effect2{
  display: none;
}

.slide-down-effect3{
  display: none;
}

.slide-down-effect4{
  display: none;
}

.slide-down-effect5{
  display: none;
}

.slide-down-effect6{
  display: none;
}
.slide-down-effect7{
  display: none;
}
.slide-down-effect8{
  display: none;
}
.slide-down-effect9{
  display: none;
}
.slide-down-effect10{
  display: none;
}
.slide-down-effect11{
  display: none;
}
